body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 98vh;
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.logo {
  font-size: 40px;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 75px;
}

.nav-bar {
  display: flex;
}

.nav-bar-item {
  list-style: none;
  margin-left: 25px;
}

.nav-bar-item-link {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-title {
  margin-right: 20px;
  height: 40px;
  font-size: 25px;
  padding-left: 10px;
  width: 25vw;
}

.input-author {
  margin-right: 20px;
  height: 40px;
  font-size: 25px;
  padding-left: 10px;
  width: 25vw;
}

.form {
  display: flex;
  align-items: center;
}

main > button {
  height: 45px;
  font-size: 18px;
  text-transform: uppercase;
}

.form button {
  height: 45px;
  font-size: 18px;
  text-transform: uppercase;
}

.form-headline {
  text-transform: uppercase;
  font-size: 25px;
}
